In [ ]:
%matplotlib inline

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 1. Pandas series
We can create a panda series using **pd.Series**. </br>
pd.Series is very much like a dictionary that we can use an `index` to find the corresponding value (In dictionary, we use `keys`).

In [ ]:
ser = pd.Series([105,306,3560,1200,50],
                index = ['tom','bob','nancy','dan','eric'])
ser

## 1.1. Indexing and select for pd.Series

### 1.1.1. Select single item
We can select using index! </br>The syntax would be `ser.loc[Index]`

In [ ]:
ser.loc['tom']

We can also select based on their relative location. </br>
For example, we want to select the third item from the Series! </br>
The syntax is `ser.iloc[Number]`

In [ ]:
ser.iloc[2]

### 1.1.2. select multiple items!
Of course, we can select multiple items! </br>
The syntax is `ser.loc[<list of index>]`

In [ ]:
ser.loc[['tom','nancy']]

#### Practice #1: What if we want to select the 1st, 3rd, and 4th items from the Series?

In [ ]:
# TODO: INSERT YOUR CODE HERE

# 2. Pandas DataFrame
## 2.1. create dataframe
### 2.1.2 create dataframe using pandas series
We can create pandas dataframe using pandas series.

In [ ]:
ser1 = pd.Series(['red','blue','orange','pink','green'],
                 index = ['tom','bob','nancy','dan','eric'])

df = pd.DataFrame({'Fav_number':ser,
                   'Fav_color':ser1})

In [ ]:
df

### 2.1.2 Create dataframe using numpy array
We can also create pandas dataframe using numpy 2d array! </br>
Following is an example!

Tom, Bob, and Nancy took three guesses for a number between 1 and 100.

In [ ]:
array_2d = np.random.randint(low=1, high=100, size=(3,3))

df_guess = pd.DataFrame(array_2d,index=['tom','bob','nancy'],
                             columns=['guess 1', 'guess 2', 'guess 3'])

In [ ]:
df_guess

## 2.2. Index and select for pd.DataFrame

### 2.2.1. select single items
For example, what if I want to know Tom's first guess?

In [ ]:
df_guess.loc['tom','guess 1']

Since we know Tom was the first in the ranking, we can also use `iloc`

In [ ]:
df_guess.iloc[0,0]

### 2.2.2. select multiple items

For example, if we want to know Tom's first two guess?

In [ ]:
df_guess.loc['tom',['guess 1','guess 2']]

#### If we want to know the first guess of Tom and Bob?

In [ ]:
df_guess.loc[['tom','bob'],'guess 1']

#### Practice! What if we want to know Tom and Nancy's third guess using `iloc`?

In [ ]:
# TODO: INSERT YOUR CODE HERE

### 2.3. Simple calculations!
#### What's the largest guess from Tom, Bob and Nancy?

In [ ]:
df_guess.max(axis=1)

#### Practice #3: what if we want to know the smallest guess for Tom, Bob, and Nancy?

In [ ]:
# TODO: INSERT YOUR CODE HERE

#### Which player has the biggest difference among their three guess?

In [ ]:
# Step 1: calculate the difference between their 
# largest guess and their smallest guess
df_guess['guess diff'] = df_guess.max(axis=1) - df_guess.min(axis=1)

In [ ]:
df_guess

#### we can reorder the rows based on certain numbers!

In [ ]:
# Step 2: reorder the rows based on `guess diff`
df_guess_reorder = df_guess.sort_values('guess diff',  # based on the values in this column
                                        axis=0,        # we would like to sort rows 
                                        ascending=False) # we want it in descending order

In [ ]:
df_guess_reorder

## 2.4. read external dataset

We usually use `pd.read_csv` to read in data in csv files, usually it is time series dataset. </br>

We can of course read in Excel dataset using `pd.read_excel`, which is not part of this exercise.

In [ ]:
# the parse_dates=True command interprets the date string into date objects
# then we can start doing manipulations for the time series.
# The data file "flow_cfs.USGS_04216000.Niagara_river.csv" is located in data folder
# please replace "#INSERT PATH HERE" using the correct path to file
df_usgs = pd.read_csv("#INSERT PATH HERE",
                      index_col=0,parse_dates=True)

### 2.4.1. Quickly plot the time series!

In [ ]:
df_usgs['streamflow'].plot()

### 2.4.2. Data selection for time series

#### Select individual day

In [ ]:
df_usgs.loc["2022-12-31"]

#### Select a period of time with start and end dates

In [ ]:
df_usgs.loc[slice("2022-10-01","2023-01-01")]

#### Select a period of time (from the 100th to 200th days)

In [ ]:
df_usgs.iloc[slice(100,200)]

### 2.4.3. what if we want to find what day Niagara River have the highest flow?

In [ ]:
df_usgs.sort_values('streamflow',axis=0)

### 2.4.4. How can we get the monthly averaged flow? `df.resample`
'MS' denotes the start of the month, it collects all data points within that month

In [ ]:
df_usgs_monthly = df_usgs[['streamflow']].resample('MS').mean()

In [ ]:
fig,ax=plt.subplots(1,1,dpi=300)
df_usgs_monthly.plot(ax=ax)

### 2.3.5. How can we get the mean monthly flow across the two years? `df.groupby`

In [ ]:
df_usgs_mean_monthly = df_usgs_monthly.groupby(df_usgs_monthly.index.month).mean()

In [ ]:
df_usgs_mean_monthly.plot()